body {
    margin: 0;
    font-size: 20px;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
  }

  .content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }

  .particle {
    position: absolute;
    display: block;
    pointer-events: none;
  }
  .particle:nth-child(1) {
    top: 35.6626506024%;
    left: 8.7378640777%;
    font-size: 30px;
    filter: blur(0.02px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(2) {
    top: 20.5378973105%;
    left: 47.1512770138%;
    font-size: 18px;
    filter: blur(0.04px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(3) {
    top: 56.5853658537%;
    left: 14.7058823529%;
    font-size: 20px;
    filter: blur(0.06px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(4) {
    top: 64.9446494465%;
    left: 43.4353405726%;
    font-size: 13px;
    filter: blur(0.08px);
    animation: 32s floatReverse infinite;
  }
  .particle:nth-child(5) {
    top: 26.3093788063%;
    left: 96.9637610186%;
    font-size: 21px;
    filter: blur(0.1px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(6) {
    top: 0.9696969697%;
    left: 50.7317073171%;
    font-size: 25px;
    filter: blur(0.12px);
    animation: 33s floatReverse2 infinite;
  }
  .particle:nth-child(7) {
    top: 79.322853688%;
    left: 17.5267770204%;
    font-size: 27px;
    filter: blur(0.14px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(8) {
    top: 13.6585365854%;
    left: 90.1960784314%;
    font-size: 20px;
    filter: blur(0.16px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(9) {
    top: 48.275862069%;
    left: 50.395256917%;
    font-size: 12px;
    filter: blur(0.18px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(10) {
    top: 55.3398058252%;
    left: 41.015625%;
    font-size: 24px;
    filter: blur(0.2px);
    animation: 21s float infinite;
  }
  .particle:nth-child(11) {
    top: 10.8108108108%;
    left: 1.9723865878%;
    font-size: 14px;
    filter: blur(0.22px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(12) {
    top: 89.9755501222%;
    left: 71.7092337917%;
    font-size: 18px;
    filter: blur(0.24px);
    animation: 31s float infinite;
  }
  .particle:nth-child(13) {
    top: 62.5152625153%;
    left: 84.3964671246%;
    font-size: 19px;
    filter: blur(0.26px);
    animation: 26s floatReverse infinite;
  }
  .particle:nth-child(14) {
    top: 35.3374233129%;
    left: 66.0098522167%;
    font-size: 15px;
    filter: blur(0.28px);
    animation: 31s float infinite;
  }
  .particle:nth-child(15) {
    top: 6.8880688807%;
    left: 8.8845014808%;
    font-size: 13px;
    filter: blur(0.3px);
    animation: 36s float2 infinite;
  }
  .particle:nth-child(16) {
    top: 57.2121212121%;
    left: 80%;
    font-size: 25px;
    filter: blur(0.32px);
    animation: 34s floatReverse2 infinite;
  }
  .particle:nth-child(17) {
    top: 6.8880688807%;
    left: 64.1658440276%;
    font-size: 13px;
    filter: blur(0.34px);
    animation: 37s float infinite;
  }
  .particle:nth-child(18) {
    top: 5.8608058608%;
    left: 50.0490677134%;
    font-size: 19px;
    filter: blur(0.36px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(19) {
    top: 11.8081180812%;
    left: 43.4353405726%;
    font-size: 13px;
    filter: blur(0.38px);
    animation: 30s float2 infinite;
  }
  .particle:nth-child(20) {
    top: 43.0844553244%;
    left: 55.063913471%;
    font-size: 17px;
    filter: blur(0.4px);
    animation: 27s float infinite;
  }
  .particle:nth-child(21) {
    top: 61.7647058824%;
    left: 18.7007874016%;
    font-size: 16px;
    filter: blur(0.42px);
    animation: 32s floatReverse infinite;
  }
  .particle:nth-child(22) {
    top: 79.217603912%;
    left: 55.0098231827%;
    font-size: 18px;
    filter: blur(0.44px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(23) {
    top: 79.5151515152%;
    left: 42.9268292683%;
    font-size: 25px;
    filter: blur(0.46px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(24) {
    top: 8.8452088452%;
    left: 7.8895463511%;
    font-size: 14px;
    filter: blur(0.48px);
    animation: 30s floatReverse2 infinite;
  }
  .particle:nth-child(25) {
    top: 37.6811594203%;
    left: 76.8482490272%;
    font-size: 28px;
    filter: blur(0.5px);
    animation: 26s float infinite;
  }
  .particle:nth-child(26) {
    top: 13.7254901961%;
    left: 30.5118110236%;
    font-size: 16px;
    filter: blur(0.52px);
    animation: 35s floatReverse infinite;
  }
  .particle:nth-child(27) {
    top: 69.1839220463%;
    left: 97.9431929481%;
    font-size: 21px;
    filter: blur(0.54px);
    animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(28) {
    top: 75.0304506699%;
    left: 97.9431929481%;
    font-size: 21px;
    filter: blur(0.56px);
    animation: 34s float infinite;
  }
  .particle:nth-child(29) {
    top: 34.9090909091%;
    left: 27.3170731707%;
    font-size: 25px;
    filter: blur(0.58px);
    animation: 35s float infinite;
  }
  .particle:nth-child(30) {
    top: 28.9505428227%;
    left: 95.2380952381%;
    font-size: 29px;
    filter: blur(0.6px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(31) {
    top: 50.1228501229%;
    left: 24.6548323471%;
    font-size: 14px;
    filter: blur(0.62px);
    animation: 38s float infinite;
  }
  .particle:nth-child(32) {
    top: 23.6162361624%;
    left: 27.6406712734%;
    font-size: 13px;
    filter: blur(0.64px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(33) {
    top: 82.9915560917%;
    left: 81.6326530612%;
    font-size: 29px;
    filter: blur(0.66px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(34) {
    top: 85.3987730061%;
    left: 40.39408867%;
    font-size: 15px;
    filter: blur(0.68px);
    animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(35) {
    top: 52.2370012092%;
    left: 9.7370983447%;
    font-size: 27px;
    filter: blur(0.7px);
    animation: 23s float infinite;
  }
  .particle:nth-child(36) {
    top: 78.8321167883%;
    left: 82.1917808219%;
    font-size: 22px;
    filter: blur(0.72px);
    animation: 30s floatReverse2 infinite;
  }
  .particle:nth-child(37) {
    top: 76.7922235723%;
    left: 92.8641251222%;
    font-size: 23px;
    filter: blur(0.74px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(38) {
    top: 89.9637243047%;
    left: 58.4225900682%;
    font-size: 27px;
    filter: blur(0.76px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(39) {
    top: 94.8004836759%;
    left: 61.3437195716%;
    font-size: 27px;
    filter: blur(0.78px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(40) {
    top: 81.7733990148%;
    left: 67.1936758893%;
    font-size: 12px;
    filter: blur(0.8px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(41) {
    top: 60.8695652174%;
    left: 28.2101167315%;
    font-size: 28px;
    filter: blur(0.82px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(42) {
    top: 4.884004884%;
    left: 5.8881256133%;
    font-size: 19px;
    filter: blur(0.84px);
    animation: 40s float infinite;
  }
  .particle:nth-child(43) {
    top: 90.4009720535%;
    left: 75.2688172043%;
    font-size: 23px;
    filter: blur(0.86px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(44) {
    top: 69.5652173913%;
    left: 20.4280155642%;
    font-size: 28px;
    filter: blur(0.88px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(45) {
    top: 21.5422276622%;
    left: 55.063913471%;
    font-size: 17px;
    filter: blur(0.9px);
    animation: 28s float infinite;
  }
  .particle:nth-child(46) {
    top: 50.9803921569%;
    left: 46.2598425197%;
    font-size: 16px;
    filter: blur(0.92px);
    animation: 24s float2 infinite;
  }
  .particle:nth-child(47) {
    top: 7.7575757576%;
    left: 41.9512195122%;
    font-size: 25px;
    filter: blur(0.94px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(48) {
    top: 73.7100737101%;
    left: 22.6824457594%;
    font-size: 14px;
    filter: blur(0.96px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(49) {
    top: 71.2195121951%;
    left: 74.5098039216%;
    font-size: 20px;
    filter: blur(0.98px);
    animation: 34s floatReverse infinite;
  }
  .particle:nth-child(50) {
    top: 40.1960784314%;
    left: 50.1968503937%;
    font-size: 16px;
    filter: blur(1px);
    animation: 21s floatReverse infinite;
  }
  .particle:nth-child(51) {
    top: 92.5700365408%;
    left: 30.3623898139%;
    font-size: 21px;
    filter: blur(1.02px);
    animation: 39s float2 infinite;
  }
  .particle:nth-child(52) {
    top: 94.5812807882%;
    left: 67.1936758893%;
    font-size: 12px;
    filter: blur(1.04px);
    animation: 34s floatReverse infinite;
  }
  .particle:nth-child(53) {
    top: 8.7912087912%;
    left: 94.2100098135%;
    font-size: 19px;
    filter: blur(1.06px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(54) {
    top: 4.8250904704%;
    left: 14.5772594752%;
    font-size: 29px;
    filter: blur(1.08px);
    animation: 38s float infinite;
  }
  .particle:nth-child(55) {
    top: 45.6865127582%;
    left: 29.3255131965%;
    font-size: 23px;
    filter: blur(1.1px);
    animation: 25s float2 infinite;
  }
  .particle:nth-child(56) {
    top: 66.8304668305%;
    left: 88.7573964497%;
    font-size: 14px;
    filter: blur(1.12px);
    animation: 33s float infinite;
  }
  .particle:nth-child(57) {
    top: 65.7799274486%;
    left: 22.3953261928%;
    font-size: 27px;
    filter: blur(1.14px);
    animation: 22s float infinite;
  }
  .particle:nth-child(58) {
    top: 36.7149758454%;
    left: 71.9844357977%;
    font-size: 28px;
    filter: blur(1.16px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(59) {
    top: 43.0844553244%;
    left: 46.2143559489%;
    font-size: 17px;
    filter: blur(1.18px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(60) {
    top: 56.8674698795%;
    left: 22.3300970874%;
    font-size: 30px;
    filter: blur(1.2px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(61) {
    top: 12.7450980392%;
    left: 11.811023622%;
    font-size: 16px;
    filter: blur(1.22px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(62) {
    top: 43.0844553244%;
    left: 49.1642084562%;
    font-size: 17px;
    filter: blur(1.24px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(63) {
    top: 21.3075060533%;
    left: 82.8460038986%;
    font-size: 26px;
    filter: blur(1.26px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(64) {
    top: 83.6408364084%;
    left: 68.1145113524%;
    font-size: 13px;
    filter: blur(1.28px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(65) {
    top: 63.1834750911%;
    left: 72.3362658847%;
    font-size: 23px;
    filter: blur(1.3px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(66) {
    top: 32.5123152709%;
    left: 57.3122529644%;
    font-size: 12px;
    filter: blur(1.32px);
    animation: 38s float infinite;
  }
  .particle:nth-child(67) {
    top: 40%;
    left: 21.568627451%;
    font-size: 20px;
    filter: blur(1.34px);
    animation: 28s float2 infinite;
  }
  .particle:nth-child(68) {
    top: 30.2070645554%;
    left: 6.8560235064%;
    font-size: 21px;
    filter: blur(1.36px);
    animation: 32s float infinite;
  }
  .particle:nth-child(69) {
    top: 62.6682986536%;
    left: 91.4454277286%;
    font-size: 17px;
    filter: blur(1.38px);
    animation: 37s float infinite;
  }
  .particle:nth-child(70) {
    top: 73.607748184%;
    left: 23.3918128655%;
    font-size: 26px;
    filter: blur(1.4px);
    animation: 30s float2 infinite;
  }
  .particle:nth-child(71) {
    top: 3.9072039072%;
    left: 35.3287536801%;
    font-size: 19px;
    filter: blur(1.42px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(72) {
    top: 72.4637681159%;
    left: 88.5214007782%;
    font-size: 28px;
    filter: blur(1.44px);
    animation: 35s float infinite;
  }
  .particle:nth-child(73) {
    top: 53.2675709001%;
    left: 8.9020771513%;
    font-size: 11px;
    filter: blur(1.46px);
    animation: 23s float infinite;
  }
  .particle:nth-child(74) {
    top: 71.6564417178%;
    left: 54.1871921182%;
    font-size: 15px;
    filter: blur(1.48px);
    animation: 35s float infinite;
  }
  .particle:nth-child(75) {
    top: 53.5931790499%;
    left: 86.1900097943%;
    font-size: 21px;
    filter: blur(1.5px);
    animation: 39s float infinite;
  }
  .particle:nth-child(76) {
    top: 13.4939759036%;
    left: 94.1747572816%;
    font-size: 30px;
    filter: blur(1.52px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(77) {
    top: 7.729468599%;
    left: 53.5019455253%;
    font-size: 28px;
    filter: blur(1.54px);
    animation: 26s float2 infinite;
  }
  .particle:nth-child(78) {
    top: 95.4933008526%;
    left: 43.0950048972%;
    font-size: 21px;
    filter: blur(1.56px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(79) {
    top: 95.9608323133%;
    left: 57.0304818092%;
    font-size: 17px;
    filter: blur(1.58px);
    animation: 29s floatReverse2 infinite;
  }
  .particle:nth-child(80) {
    top: 81.6728167282%;
    left: 45.4096742349%;
    font-size: 13px;
    filter: blur(1.6px);
    animation: 27s floatReverse2 infinite;
  }

  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }
